<!-- <!DOCTYPE html>
<html>
<head>
	<title>SweetCheck</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		
		<h1 class="text-center p-2 mb-4"><img src="static/images/logo.jpg" class="border border-secondary rounded p-1" width="200px" draggable="false"></h1>
		
		<form method="POST" class="border rounded p-4 bg-light">
			<div class="form-group">
				<label for="current_sugar_level">Enter your current sugar level (mg/dL):</label>
				<input type="number" id="current_sugar_level" autocomplete="off" name="current_sugar_level" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label for="food_item">Select a food item:</label>
				<select id="food_item" name="food_item" class="form-control" required>
					{% for food_item in food_database %}
						<option value="{{ food_item }}">{{ food_item }}</option>
					{% endfor %}
				</select>
			</div>
			
			<div class="form-group">
				<label for="quantity">Enter the quantity (in grams):</label>
				<input type="number" id="quantity" autocomplete="off" name="quantity" class="form-control" required>
			</div>

			<div class="form-group">
				<label for="current_sugar_level">Enter workout time:</label>
				<input type="number" id="workout_time" autocomplete="off" placeholder="Minutes" name="workout_time" class="form-control" Value=0>
			</div>
			
			<div class="text-center">
				<button type="submit" class="btn btn-success px-5">Calculate</button>
			</div>
		</form>

		{% if current_sugar_level is defined %}
			<h2 class="text-center mt-4">Blood Sugar Summary</h2>
			<div class="card mx-auto mt-3 bg-light my-4 border border-primary" style="max-width: 18rem;">
				<div class="card-body">
					<h5 class="card-title text-secondary">Your current sugar level:</h5>
					<p class="card-text h3"><b>{{ current_sugar_level }} (mg/dL)</b></p>
					<h5 class="card-title text-secondary">Status:</h5>
					<p class="card-text h3"><b>{{ level_status }}</b></p>
				</div>
			</div>
		{% endif %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>

<head>
	<title>SweetCheck</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-5 mb-5">

		<h1 class="text-center p-2 mb-4"><img src="static/images/logo.jpg" class="border border-secondary rounded p-1"
				width="200px" draggable="false"></h1>

		<form method="POST" class="border rounded p-4 bg-light">
			<div class="form-group">
				<label for="current_sugar_level">Enter your current sugar level (mg/dL):</label>
				<input type="number" id="current_sugar_level" autocomplete="off" name="current_sugar_level"
					class="form-control" required>
			</div>

			<div class="d-inline-flex p-2">
				<div id="food_items">
					<label for="food_item0">Food Item:</label>
					<select name="food_item_0" class="border border-secondary rounded p-1" id="food_item0">
						{% for food_item in food_database %}
						<option value="{{ food_item }}">{{ food_item }}</option>
						{% endfor %}
					</select>
					<label for="quantity0">Quantity:</label>
					<input type="number" class="border border-secondary rounded p-1" name="quantity_0" placeholder="(in grams)" id="quantity0" required>
					<br><br>
				</div>
				<button type="button" id="add_food_item" class="btn btn-light rounded-pill mx-5"><img src="static/images/plus.svg"
						width="35px" draggable="false"></button>
			</div>

			<div class="form-group">
				<label for="current_sugar_level">Enter workout time:</label>
				<input type="number" id="workout_time" autocomplete="off" placeholder="Minutes" name="workout_time"
					class="form-control" value=0>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-success px-5">Calculate</button>
			</div>
		</form>

		{% if current_sugar_level is defined %}
		<h2 class="text-center mt-4">Blood Sugar Summary</h2>
		<div class="card mx-auto mt-3 bg-light my-4 border border-primary" style="max-width: 18rem;">
			<div class="card-body">
				<h5 class="card-title text-secondary">Your current sugar level:</h5>
				<p class="card-text h3"><b>{{ current_sugar_level }} (mg/dL)</b></p>
				<h5 class="card-title text-secondary">Status:</h5>
				<p class="card-text h3"><b>{{ level_status }}</b></p>
				<p class="card-text h3"><b>{{ quantity }}</b></p>
			</div>
		</div>
		{% endif %}
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		var food_item_count = 1;

		$('#add_food_item').click(function () {
			var new_food_item_html = `
				<label for="food_item${food_item_count}">Food Item:</label>
				<select name="food_item_${food_item_count}" class="border border-secondary rounded p-1" id="food_item${food_item_count}">
					{% for food_item in food_database %}
						<option value="{{ food_item }}">{{ food_item }}</option>
					{% endfor %}
				</select>
				<label for="quantity${food_item_count}">Quantity: </label>
				<input type="number" name="quantity_${food_item_count}" class="border border-secondary rounded p-1" placeholder="(in grams)" id="quantity${food_item_count}" required>
				<br><br>
			`;
			$('#food_items').append(new_food_item_html);
			food_item_count++;
		});
	</script>
</body>

</html>